<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>機能選択</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>

<div class="button-container">
    <button onclick="window.location.href='/input/receive_function?func=func1'">アイデア作成</button>
    <button onclick="window.location.href='/input/receive_function?func=func2'">アイデアの改良</button>
    <button onclick="window.location.href='/input/receive_function?func=func3'">アイデアの評価</button>
</div>
</body>
</html>
