<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/mypage.css')}}">
</head>
<body>
    <div class="profile-container">
        <div class="profile">
            <img src="profile-picture.jpg" alt="prof画像" class="profile-picture">
            <h1 class="user-name">{{username}}</h1>
        </div>
    </div>
    <h1>スレッド一覧</h1>
    <button id="create-thread">新規スレッド作成</button>
    <div id="thread-list"></div>
    <script src="{{url_for('static',filename='js/mypage.js')}}"></script>
</body>
</html>